/* Fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --color1: #7021C5;
    --color2: #65349B;
    --color3: #7400F0;
    --color4: #533870;
    --color5: #2F2B33;

    /* Fontes usadas */
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --font-principal: font-family: "Oswald", sans-serif;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;

}

.container-left {
    display: inline-block;
    margin-top: 290px;
    width: 60%;
    padding-left: 150px;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    width: 370px;
    position: relative;

    top: 20%;
    right: 97px;
}

h1 {
    font-size: 49px;
    line-height: 50px;
    color: #5D5D7D;
    width: 362px;
}

p {
    color: rgba(93, 93, 125, 0.527);
    font-size: 23px;
    line-height: 38px;
    margin: 15px 0;
    width: 400px;
}

button {
    width: 135px;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    background-color: #9499EA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 20px;
    line-height: 41px;
    color: #7021C5;
    margin-right: 21px;
    text-decoration: none;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: .4;
}

a:hover {
    opacity: .4;
}

a:active {
    opacity: .8;
}

header {
    margin: 24px 0 0 57px;
}

@media (max-width: 928px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        padding: clamp(20px 5vw 40px);

        position: static;

    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
    header {
        display: none;
    }

    img {
        position: static;
        max-width: 90%;
    }
    
}

@media (max-width: 431px) {

    .container-right {
        height: 70%;
    }

    img {
        margin: 30px 20px;
        max-width: 70%;
    }

    h1 {
        margin-top: 100px;
        font-weight: 800;
        font-size: 40px;
        width: auto;
    }
    p {
        font-size: 18px;
        line-height: 30px;
    }
}